.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(179, 8, 179, 0.747);
  font-weight: bold;
  font-size: 40px;
  width: 25%;
  margin: 0 auto; 
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}
