.task-list {
  background: white;
  padding: 25px 30px;
  width: 320px;
  height: 380px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

.task-list h1 {
   margin-bottom: 20px;
   font-size: 22px;
   color: rgba(179, 8, 179, 0.8);
   text-align: center;
}

.task-list label {
  text-align: center;
}