/*Task box*/
.task-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;

  padding: 40px;
}

.add-task {
  background: white;
  padding: 25px 30px;
  width: 320px;
  height: 380px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

.add-task h1 {
  margin-bottom: 20px;
  font-size: 22px;
  color: rgba(179, 8, 179, 0.8);
  text-align: center;
}

.add-task label {
  font-size: 14px;
  color: #333;
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
}

.l1 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

.l1:focus {
  border-color: rgba(179, 8, 179, 0.8);
  box-shadow: 0 0 5px rgba(179, 8, 179, 0.3);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.add-button {
  text-align: center;
  background-color: rgba(179, 8, 179, 0.8);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 12px;
  width: 50%;
  height: 50%;
  padding: 10px;
  border: none;
  margin-top: 20px;
}

.add-button:hover {
  background-color: rgba(158, 7, 158, 0.8);
  cursor: pointer;
}
